@model KareAjans.UI.ViewModels.HomePageViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}



<div class="row">
    <div class="col-md-6">


       @Model.AboutText
        @Model.ReferencesText


        @*<table class="table table-hover">
            <thead>
                <tr>
                    <th>SiteContentType</th>
                    <th>Text</th>
                    <th colspan="2"><a asp-action="AddSiteContent" asp-controller="Home" class="btn btn-default">Add SiteContent</a></th>
                </tr>
            </thead>
            <tbody>            
                <tr>
                    <td>@siteContent.Text</td>
                </tr>
            </tbody>
        </table>*@
    </div>


</div>

