

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="row">
            <div class="col-md-4">
                <form class="form-horizontal" asp-action="Add" asp-controller="User" method="post">
                    <partial name="_UserManipulationPartial" />
                </form>
            </div>
        </div>

          
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}