@model KareAjans.Model.ModelEmployeeDTO

@{
    ViewData["Title"] = "IndexTest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>IndexTest</h2>

<h4>ModelEmployeeDTO</h4>
<hr />

<div class="card">
    <form class="form-horizontal" asp-action="IndexTest" asp-controller="Profile" method="post">

        <input type="hidden" asp-for="ModelEmployeeID" />

        <div class="card-body">
            <h4 class="card-title">Profil Düzenle</h4>
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">
                        <label asp-for="FirstName" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="LastName" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="Address" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="PhoneNo1" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="PhoneNo1" class="form-control" />
                            <span asp-validation-for="PhoneNo1" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="PhoneNo2" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="PhoneNo2" class="form-control" />
                            <span asp-validation-for="PhoneNo2" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="DateOfBirth" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>

                    </div>

                    <!--dropdown-->
                    <div class="form-group row">
                        <label class="col-md-3 m-t-15">Single Select</label>
                        <div class="col-md-9">
                            <select class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                <option value="AK">Alaska</option>
                                <option value="HI">Hawaii</option>
                            </select>
                        </div>
                    </div>
                    <!------------------------------------>

                    <div class="form-group row">
                        <label asp-for="Weight" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="Weight" class="form-control" />
                            <span asp-validation-for="Weight" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="Height" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="Height" class="form-control" />
                            <span asp-validation-for="Height" class="text-danger"></span>
                        </div>

                    </div>

                </div>

                <!--burda ayrılıyyyoooorrrrr-->
                <div class="col-md-6">

                    <div class="form-group row">
                        <label asp-for="ShoeSize" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="ShoeSize" class="form-control" />
                            <span asp-validation-for="ShoeSize" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="EyeColor" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="EyeColor" class="form-control" />
                            <span asp-validation-for="EyeColor" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="HairColor" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="HairColor" class="form-control" />
                            <span asp-validation-for="HairColor" class="text-danger"></span>
                        </div>

                    </div>


                    <div class="form-group row">
                        <label asp-for="Gender" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="Gender" class="form-control" />
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="BodySize" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="BodySize" class="form-control" />
                            <span asp-validation-for="BodySize" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" asp-for="DrivingLicence" id="DrivingLicence" class="custom-control-input" />
                                <label class="custom-control-label" for="DrivingLicence"> @Html.DisplayNameFor(model => model.DrivingLicence)</label>
                            </div>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="WorkingOutsideTheCity" asp-for="WorkingOutsideTheCity" />
                                <label class="custom-control-label" for="WorkingOutsideTheCity"> @Html.DisplayNameFor(model => model.WorkingOutsideTheCity)</label>
                            </div>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="ForeignLanguage" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="ForeignLanguage" class="form-control" />
                            <span asp-validation-for="ForeignLanguage" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="Speciality" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="Speciality" class="form-control" />
                            <span asp-validation-for="Speciality" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="border-top">
            <div class="form-group row">
                <div class="card-body">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>

            </div>
        </div>


        @*<div class="border-top">
                <div class="card-body">
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>*@

    </form>


    <div class="row" style="margin-top:20px;">

        @if (Model.Pictures.Count == 0)
        {
            <p>Fotograf yok</p>
        }
        else
        {

            foreach (var picture in Model.Pictures)
            {
                <div class="col col-md-4" style="margin-bottom:20px">
                    <div class="card">
                        <img src="@picture.Url" class="card-img-top" style="height:300px;object-fit: cover;" alt="...">
                        <div class="card-body">
                            <a asp-action="DeletePicture" asp-controller="Profile" asp-route-id="@picture.PictureID" class="btn btn-xs btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>

</div>


