@model KareAjans.UI.ViewModels.ModelEmployeeAddViewModel
@using KareAjans.Entity.Enums
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <form class="form-horizontal" asp-action="Add" asp-controller="ModelEmployee" method="post" enctype="multipart/form-data">

        <div class="card-body">
            <h4 class="card-title">Manken Ekle</h4>
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">
                        <label asp-for="ModelEmployee.FirstName" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="ModelEmployee.FirstName" class="form-control" />
                            <span asp-validation-for="ModelEmployee.FirstName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ModelEmployee.LastName" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="ModelEmployee.LastName" class="form-control" />
                            <span asp-validation-for="ModelEmployee.LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ModelEmployee.Gender" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <select asp-for="ModelEmployee.Gender" class="select2 form-control custom-select" style="width: 100%; height:36px;" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-md-3 m-t-15">Professionel Yetkiler:</label>
                        <div class="col-md-9">
                            <select asp-for="ModelEmployee.ProfessionalDegreeId" class="select2 form-control custom-select" style="width: 100%; height:36px;" asp-items='new SelectList(Model.ProfessionelDegrees, "ProfessionalDegreeID", "Title")'>
                                <option selected="selected" value="">Seçiniz</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row m-t-20">
                        <label asp-for="ModelEmployee.DateOfBirth" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input type="date" asp-for="ModelEmployee.DateOfBirth" class="form-control date-inputmask" />
                            <span asp-validation-for="ModelEmployee.DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label asp-for="Email" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input type="email" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label asp-for="Password" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ModelEmployee.Address" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="ModelEmployee.Address" class="form-control" />
                            <span asp-validation-for="ModelEmployee.Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ModelEmployee.PhoneNo1" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="ModelEmployee.PhoneNo1" class="form-control phone-inputmask" id="phone-mask" />
                            <span asp-validation-for="ModelEmployee.PhoneNo1" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label asp-for="ModelEmployee.PhoneNo2" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="ModelEmployee.PhoneNo2" class="form-control phone-inputmask" id="phone-mask" />
                            <span asp-validation-for="ModelEmployee.PhoneNo2" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ModelEmployee.Weight" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="ModelEmployee.Weight" class="form-control" />
                            <span asp-validation-for="ModelEmployee.Weight" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ModelEmployee.Height" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="ModelEmployee.Height" class="form-control" />
                            <span asp-validation-for="ModelEmployee.Height" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <!--burda ayrılıyyyoooorrrrr-->
                <div class="col-md-6">

                    <div class="form-group row">
                        <label asp-for="ModelEmployee.ShoeSize" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <select asp-for="ModelEmployee.ShoeSize" class="select2 form-control custom-select" style="width: 100%; height:36px;" asp-items="Html.GetEnumSelectList<ShoeSize>()">
                            </select>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="ModelEmployee.EyeColor" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <select asp-for="ModelEmployee.EyeColor" class="select2 form-control custom-select" style="width: 100%; height:36px;" asp-items="Html.GetEnumSelectList<EyeColor>()">
                            </select>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="ModelEmployee.HairColor" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <select asp-for="ModelEmployee.HairColor" class="select2 form-control custom-select" style="width: 100%; height:36px;" asp-items="Html.GetEnumSelectList<HairColor>()">
                            </select>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="ModelEmployee.BodySize" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <select asp-for="ModelEmployee.BodySize" class="select2 form-control custom-select" style="width: 100%; height:36px;" asp-items="Html.GetEnumSelectList<BodySize>()">
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" asp-for="ModelEmployee.DrivingLicence" id="DrivingLicence" class="custom-control-input" />
                                <label class="custom-control-label" for="DrivingLicence"> @Html.DisplayNameFor(model => model.ModelEmployee.DrivingLicence)</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="WorkingOutsideTheCity" asp-for="ModelEmployee.WorkingOutsideTheCity" />
                                <label class="custom-control-label" for="WorkingOutsideTheCity"> @Html.DisplayNameFor(model => model.ModelEmployee.WorkingOutsideTheCity)</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ModelEmployee.ForeignLanguage" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="ModelEmployee.ForeignLanguage" class="form-control" />
                            <span asp-validation-for="ModelEmployee.ForeignLanguage" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label asp-for="ModelEmployee.Speciality" class="col-sm-3 text-right control-label col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="ModelEmployee.Speciality" class="form-control" />
                            <span asp-validation-for="ModelEmployee.Speciality" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" type="file" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
        </div>

        <div class="border-top">
            <div class="form-group row">
                <div class="card-body">
                    <input type="submit" value="Ekle" class="btn btn-default" />
                </div>
            </div>
        </div>

    </form>
</div>