@using Microsoft.AspNetCore.Http;


<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/matrix-admin-master/assets/images/favicon.png">
    <title>@ViewBag.Title</title>
    <!-- Custom CSS -->
    <link href="~/matrix-admin-master/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/matrix-admin-master/assets/extra-libs/calendar/calendar.css" rel="stylesheet" />
    <link href="~/matrix-admin-master/dist/css/style.min.css" rel="stylesheet">
    <link href="~/matrix-admin-master/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet" />
    <link href="~/matrix-admin-master/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/main.css" rel="stylesheet" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a asp-action="Index" asp-controller="Home" class="navbar-brand">
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <img src="~/matrix-admin-master/assets/images/logo-new.png" alt="homepage" class="light-logo" />

                        </span>
                        <!-- Logo icon -->
                        <!-- <b class="logo-icon"> -->
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <!-- <img src="assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->
                        <!-- </b> -->
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/matrix-admin-master/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <div class="dropdown-divider"></div>
                                <a asp-action="Logout" asp-controller="Login" class="dropdown-item" onclick="javascript:void(0)"><i class="fa fa-power-off m-r-5 m-l-5"></i> Çıkış yap</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">

                        @if (Context.Session.GetString("userType").Equals("Administrator"))
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-move-resize-variant"></i><span class="hide-menu">Site Yönetimi </span></a>
                                <ul aria-expanded="false" class="collapse  first-level">
                                    <li class="sidebar-item"><a asp-action="Update" asp-controller="SiteContent" class="sidebar-link"><i class="mdi mdi-calendar-check"></i><span class="hide-menu"> Düzenle </span></a></li>  
                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Kullanıcılar </span></a>
                                <ul aria-expanded="false" class="collapse  first-level">
                                    <li class="sidebar-item"><a asp-action="Index" asp-controller="User" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Listele </span></a></li>
                                    <li class="sidebar-item"><a asp-action="Add" asp-controller="User" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Ekle </span></a></li>
                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">Mankenler</span></a>
                                <ul aria-expanded="false" class="collapse  first-level">
                                    <li class="sidebar-item"><a asp-action="Index" asp-controller="ModelEmployee" asp- class="sidebar-link"><i class="mdi mdi-emoticon"></i><span class="hide-menu">Listele</span></a></li>
                                    <li class="sidebar-item"><a asp-action="Add" asp-controller="ModelEmployee" class="sidebar-link"><i class="mdi mdi-emoticon"></i><span class="hide-menu">Ekle</span></a></li>
                                    <li class="sidebar-item"><a asp-action="Search" asp-controller="ModelEmployee" class="sidebar-link"><i class="mdi mdi-emoticon"></i><span class="hide-menu">Arama/Atama</span></a></li>

                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-move-resize-variant"></i><span class="hide-menu">Organizasyonlar </span></a>
                                <ul aria-expanded="false" class="collapse  first-level">
                                    <li class="sidebar-item"><a asp-action="Index" asp-controller="Organization" class="sidebar-link"><i class="mdi mdi-calendar-check"></i><span class="hide-menu"> Listele </span></a></li>
                                    <li class="sidebar-item"><a asp-action="Add" asp-controller="Organization" class="sidebar-link"><i class="mdi mdi-calendar-check"></i><span class="hide-menu"> Ekle </span></a></li>
                                </ul>
                            </li>
                        }

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-border-inside"></i><span class="hide-menu">Muhasebe</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a asp-action="Index" asp-controller="Accounting" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Raporlar </span></a></li>
                                <li class="sidebar-item"><a asp-action="Index" asp-controller="Income" class="sidebar-link"><i class="mdi mdi-cash"></i><span class="hide-menu">Gelirler</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>

        <div class="page-wrapper">
            <div class="container-fluid">

                @RenderBody()
            </div>
        </div>


    </div>

    <script src="~/matrix-admin-master/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/matrix-admin-master/dist/js/jquery.ui.touch-punch-improved.js"></script>
    <script src="~/matrix-admin-master/dist/js/jquery-ui.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/matrix-admin-master/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/matrix-admin-master/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/matrix-admin-master/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/matrix-admin-master/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/matrix-admin-master/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/matrix-admin-master/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/matrix-admin-master/dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="~/matrix-admin-master/assets/libs/moment/min/moment.min.js"></script>
    <script src="~/matrix-admin-master/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/matrix-admin-master/dist/js/pages/calendar/cal-init.js"></script>
    <script src="~/matrix-admin-master/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="~/matrix-admin-master/assets/libs/magnific-popup/meg.init.js"></script>
    <script src="~/matrix-admin-master/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="~/main.js"></script>
</body>
</html>

@RenderSection("Scripts")



