@model KareAjans.Model.OrganizationDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Organizasyon Düzenle</h2>

<hr />


<div class="row">
    <div class="col-md-4">
        <form class="form-horizontal" asp-action="Update" asp-controller="Organization" method="post">

            <input type="hidden" asp-for="OrganizationID" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="OrganizationName" class="col-sm-3 text-right control-label col-form-label"></label>
                <input asp-for="OrganizationName" class="form-control" />
                <span asp-validation-for="OrganizationName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="StartingDate" class="col-sm-3 text-right control-label col-form-label"></label>
                <input asp-for="StartingDate" class="form-control" />
                <span asp-validation-for="StartingDate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="EndingDate" class="col-sm-3 text-right control-label col-form-label"></label>
                <input asp-for="EndingDate" class="form-control" />
                <span asp-validation-for="EndingDate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" asp-for="IsLocal" id="IsLocal" class="custom-control-input" />
                        <label class="custom-control-label" for="IsLocal">@Html.DisplayNameFor(model => model.IsLocal)</label>
                    </div>
                </div>

            </div>
            <div class="border-top">
                <div class="form-group row">
                    <input type="submit" value="Düzenle" onclick="javascript: return ConfirmDelete()" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
